:css
  td { vertical-align: top; }
  .name { padding-right: 30px; font-weight: bold; }
  .desc { padding-right: 20px; width: 600px; }
  .edit a { color: grey; }
  .pencil {padding-right: 10px; }
  

%h1
  Roof sets

%table
  %thead
    %tr
      %th Name
      %th Description
      %th

  %tbody
    - @roof_sets.each do |roof_set|
      %tr
        %td.name
          = link_to roof_set.name, roof_set
        %td.desc
          = roof_set.description
        %td.edit.pencil
          = link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_roof_set_path(roof_set)
        %td.edit.trash
          = link_to '<i class="fas fa-trash-alt"></i>'.html_safe, roof_set, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Roof set', new_roof_set_path
