%p#notice
  = notice

.roof_sets
  %p
    = link_to 'Roof sets', roof_sets_path
  %p
    %h1{style: "margin-bottom: 0; padding-bottom: 0;"}
      = @roof_set.name
    
  .building-list
    - if @roof_set.description.present?
      %p
        = @roof_set.description
    
    - if @buildings.present?
      %table#schools
        %thead
          %th
          %th School
          %th{style: 'width: 60px;'} sq ft
          %th{style: 'width: 50px;'} kW
          -# %td hrs yr
          %th kWh/yr
          %th $/yr
        - @buildings.each do |building|
          - color = (building.latitude.present? ? '#EAFAF1' : '#FADBD8')
          - kW = building.roof_sq_feet.present? ? (building.roof_sq_feet * @watts_per_sq_ft) / 1000 : nil
          - kWh = kW.present? && building.sunlight_hours.present? ? ((building.roof_sq_feet * @watts_per_sq_ft) / 1000) * building.sunlight_hours : nil
          - savings = kWh.present? ? kWh * 0.17 : nil
          %tr{style: "background-color: #{color}"}
            %td
              = link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_building_path(building), target: "_blank"
            %td
              = link_to building.name, building_path(building), onmouseover: "Gmaps.selectMarker(#{building.id});", onmouseout: "Gmaps.turnOffMarkers();"
            %td
              = number_with_delimiter( building.roof_sq_feet )
            %td
              = number_with_delimiter( kW )
          
            -# %td
            -#   = number_with_delimiter( building.sunlight_hours )
          
            %td
              = number_with_delimiter( kWh )
            %td
              = number_to_currency( savings, precision: 0 )
          

    -# = link_to 'Edit', edit_roof_set_path(@roof_set)

  .map
    .map-caption
      #{@roof_set.name} has a combined
      %span{style: "font-weight: bold;"}
        #{number_with_delimiter( @total_square_ft )}
      square feet of roof space, capable of holding up to 
      %span{style: "font-weight: bold;"}
        #{number_with_delimiter( (@total_square_ft * @watts_per_sq_ft) / 1000 )}
      kW of solar panels, and producing up to
      %span{style: "font-weight: bold;"}
        #{number_with_delimiter( (@total_square_ft * @watts_per_sq_ft * @total_sunglight_hrs) / 1000)}
      kWh of electricity per year.
    
    #map

:javascript
  new Tablesort(document.getElementById('schools'));
  
  $(window).scroll(function(){
    if ($(this).scrollTop() > 135) {
      $('.map').addClass('fix-map');
    } else {
      $('.map').removeClass('fix-map');
    }
  });
  
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = #{raw @marker_hash.to_json}
    Gmaps.store = {} // Initialize storage
    Gmaps.store.markers = markers.map(function(m) {
      marker = handler.addMarker(m);
      marker.serviceObject.set('id', m.id); // You can add other attributes using set
      return marker;
    });
    handler.bounds.extendWith(Gmaps.store.markers);
    handler.fitMapToBounds();
  });
  
  // https://github.com/apneadiving/Google-Maps-for-Rails/wiki/Adding-an-id-to-markers-and-access-them-later
  Gmaps.selectMarker = function(id) {
    $.each(Gmaps.store.markers, function() {
      if (this.serviceObject.id == id) {
        // this.panTo();
        this.serviceObject.setAnimation(google.maps.Animation.BOUNCE);
        // this.serviceObject.setAnimation(4);
      } else {
        this.serviceObject.setAnimation(null);
      }}
    );
  }
  
  Gmaps.turnOffMarkers = function() {
    $.each(Gmaps.store.markers, function() {
      this.serviceObject.setAnimation(null);
    });
  }
  