= form_for @building do |f|
  - if @building.errors.any?
    #error_explanation
      %h2= "#{pluralize(@building.errors.count, "error")} prohibited this building from being saved:"
      %ul
        - @building.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :roof_set
    %br/
    = @building.roof_set.name
    
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, class: 'form-control'
    
  .field
    = link_to 'Sunroof URL', @building.sunroof_url, target: "_blank"
    

  .field
    = f.label :sunroof_ajax_url
    = f.text_field :sunroof_ajax_url, class: 'form-control'
    
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
    
  .field
    = f.label :roof_sq_feet
    = f.number_field :roof_sq_feet, class: 'form-control'
    
  .field
    = f.label :adjusted_sq_feet
    = f.number_field :adjusted_sq_feet, class: 'form-control'
    
  .field
    = f.label :sunlight_hours
    = f.number_field :sunlight_hours, class: 'form-control'
    
  .field
    = f.label :sunroof_url
    = f.text_field :sunroof_url, class: 'form-control'
    
  .field
    = f.label :description
    = f.text_area :description, class: 'form-control'
    
  .field
    = f.label :notes
    = f.text_area :notes, class: 'form-control'
    
  .field
    = f.label :exclude
    = f.check_box :exclude, class: 'form-control'
    
  .field
    = f.label :address
    = f.text_field :address, class: 'form-control'
    
  .field
    = f.label :city
    = f.text_field :city, class: 'form-control'
    
  .field
    = f.label :state
    = f.text_field :state, class: 'form-control'
    
  .field
    = f.label :zipcode
    = f.text_field :zipcode, class: 'form-control'
    
  .field
    = f.label :latitude
    = f.text_field :latitude, class: 'form-control'
    
  .field
    = f.label :longitude
    = f.text_field :longitude, class: 'form-control'
    
  .field
    = f.label :utility
    = f.text_field :utility, class: 'form-control'
    
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
