#{link_to 'Roof Sets', roof_sets_path} | #{link_to @building.roof_set.name, roof_set_path(@building.roof_set)}

%h1
  = link_to @building.name, building_path(@building)

= render 'form'

= link_to 'Show', @building
\|
= link_to 'Back', buildings_path
