:css
  td { vertical-align: top; }
  .roofset { padding-right: 20px; }
  .name { padding-right: 30px; font-weight: bold; }
  .desc { padding-right: 20px; width: 400px; }
  .edit a { color: grey; }
  .pencil {padding-right: 10px; }


%h1
  Buildings

%table
  %thead
    %tr
      %th Roof set
      %th Name
      %th Description
      %th Address
      %th Latitude/Longitude
      %th Roof sq feet
      %th Sunlight hours
      %th Utility
      %th
      %th

  %tbody
    - @buildings.each do |building|
      %tr
        %td.roofset
          = link_to building.roof_set.name, building.roof_set
        %td.name
          = link_to building.name, building
        %td.desc
          = building.description
        %td
          #{building.address}<br />
          #{building.city}, #{building.state} #{building.zipcode}
        %td
          #{building.latitude} / #{building.longitude}
        %td= building.roof_sq_feet
        %td= building.sunlight_hours
        %td= building.utility
        
        %td.edit.pencil
          = link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_roof_set_path(building)
        %td.edit.trash
          = link_to '<i class="fas fa-trash-alt"></i>'.html_safe, building, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Building', new_building_path
