%p#notice= notice

%p
  %b Roof set:
  = @building.roof_set
%p
  %b Name:
  = @building.name
%p
  %b Slug:
  = @building.slug
%p
  %b Description:
  = @building.description
%p
  %b District:
  = @building.district
%p
  %b Address:
  = @building.address
%p
  %b City:
  = @building.city
%p
  %b State:
  = @building.state
%p
  %b Zipcode:
  = @building.zipcode
%p
  %b Latitude:
  = @building.latitude
%p
  %b Longitude:
  = @building.longitude
%p
  %b Roof sq feet:
  = @building.roof_sq_feet
%p
  %b Sunlight hours:
  = @building.sunlight_hours
%p
  %b Utility:
  = @building.utility

= link_to 'Edit', edit_building_path(@building)
\|
= link_to 'Back', buildings_path
